/* @font-face {
    font-family: lower-easy;
    src: url(font/lower-east-side.regular.ttf);
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body,html{
    height: 100vh;
    background: black;
    background-color: #001029;
    background-image: url("./img/stardust.png");
    font-family: lower-easy, cursive;
    animation: move 18s ease-in-out infinite alternate;
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home__screen{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 300px;
    height: 500px;
    background: linear-gradient(to top,#ff00d4,#6f00ff,#00a2ff);
    width: 100%;
    height: 100vh;
    background-image: url("./img/stardust.png");
    font-family: lower-easy, cursive;
    animation: move 18s ease-in-out infinite alternate;
}

.home__title{
    color: #009688;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 3rem;
    margin: 10px auto 30px auto;
    padding: 10px 0 20px 0;
}
input{
    font-weight: bolder;
    color: white !important;
    text-transform: uppercase;
}

input:focus,input:active{
    border: 1px solid white;
    color: white;
}

.user__container{
    flex: .8;
    position: relative;
    background: #ffffffbb;
    width: 80%;
    height: fit-content;
    margin-top: 2rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    background-color: #00968717;
    box-shadow: 0px 4px 5px  #009688;
    animation: moveIn 1s ease-in-out infinite alternate;
}

.user__information{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3rem;
    width: 100%;
}

.user__picture{
    width: 150px;
    height: 150px;
    background: #009688;
    border-radius: 50px;;
    margin-bottom: 1rem;
    box-shadow: 0px 0px 20px #009688;
}

.user__name,.join__room {
    border: none;
    padding: 10px;
    width: 100%;
    background: #ffffffbb;
    border-radius: .5rem;
    height: 3rem;
    color: #009688;
    outline: none;
    border: 1px solid #009688;
    margin: 4px;
    text-align: center;
    font-size: 1rem;
    background-color: #00968717;
    border-bottom: 3px solid #ffffffbb;
    width: 80%;
}

.user__name::placeholder,.join__room::placeholder{
    text-align: center;
    font-size: 1rem;
    color: #009688;
}
.user__name:hover,.join__room:hover{
    border: 1px solid #ffffffbb;
    border-bottom: 3px solid #ffffffbb;
}
.join__room{
    text-transform:none;
}

.buttons{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
}

.buttons button{
    width: 80%;
    height: 3rem;
    border-radius: 1rem;
    margin: 10px;
    border: 1px solid #009688;
    font-size: 1rem;
    color: #009688;
    font-weight: 900;
    outline: none;
    background-color: #00968717;
    cursor: pointer;
    transition: transform ease-in 100ms;
}

button:hover{
    border: 1px solid #ffffff36;
    background: #ffffff33;
    transform: translate(5px,-5px);
    box-shadow: -2px 2px 2px #979595cc;
}


@keyframes move{
    0%{
        background-position-x: 100%;
        background-position-y: 100%;
    }
    50%{
        background-color: black; 
    }
    100%{
        background-position-x: 10%;
        background-position-y: 10%;
    }
}


@keyframes moveIn{
    0%{
        box-shadow: -1px -1px 5px  #009688;
    }
    50%{
        box-shadow: 0px 0px 5px  #009688;
    }
    100%{
        box-shadow: 1px 1px 5px  #009688;
    }
}